@model EmpresaWEB.Models.mvcLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Empresa Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Loginimages/icons/favicon.ico" />
    <link href="~/Content/Login/" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/css/main.css">
    <!--===============================================================================================-->
    <script src="https://kit.fontawesome.com/c65d01b037.js" crossorigin="anonymous"></script>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Content/Login/images/img-01.png" alt="IMG">
                </div>

                @using (Html.BeginForm("Send", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    <span class="login100-form-title">
                        Login
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Se requiere un email valido: ex@abc.xyz">
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "input100", type = "email", placeholder = "Correo", name = "Correo" } })
                        <!--- <input class="input100" type="text" name="email" placeholder="Email">-->
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Se requiere contraseña">
                        @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "input100", placeholder = "Contraseña", Type = "password", name = "Contraseña" } })
                        <!-- <input class="input100" type="password" name="pass" place  holder="Password">-->
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input type="submit" value="Login" class="login100-form-btn" />
                    </div>

                    <div class="text-center p-t-12">
                        <span class="txt1">
                            <!--Forgot-->
                        </span>
                        <a class="txt2" href="#">
                            <!--Username / Password?-->
                        </a>
                    </div>

                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            <!--Create your Account
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>-->
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/Login/js/main.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>

</body>
</html>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/bootstrap");
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            var errorMessage = '@TempData["ErrorMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
            if (errorMessage != '')
                alertify.error(errorMessage);
        });

        function Delete(id) {
            alertify.confirm('EmpresaAPI: Alerta', 'Esta seguro de eliminar este usuario?', function () {
                window.location.href = '@Url.Action("Delete","Usuarios")/' + id;
            }, null);
        }
    </script>
}
