@model EmpresaWEB.Models.mvcReserva
@{
    ViewBag.Title = "AddOrEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {   
        @Html.HiddenFor(model => model.ReservaId)

    <div class="form-group">
        @Html.LabelFor(model => model.PaqueteId, "Paquete")
        @Html.DropDownListFor(model => model.PaqueteId, new SelectList(Model.PaqueteCollection, "PaqueteId", "Titulo"), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UsuarioId, "Usuario")
        @Html.DropDownListFor(model => model.UsuarioId, new SelectList(Model.UsuarioCollection, "UsuarioId", "Nombre"), new { @class = "form-control" })
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaRegistro)
            @Html.TextBoxFor(model => model.FechaRegistro, "{0:s}", new { @class = "form-control", @type = "date"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaPago)
            @Html.TextBoxFor(model => model.FechaPago, "{0:s}", new { @class = "form-control", @type = "date"})
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado)
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = "No Pagado",
                    Value = "No Pagado",
                    Selected = true
                });
                listItems.Add(new SelectListItem
                {
                    Text = "Pagado",
                    Value = "Pagado"
                });
            }
            @Html.DropDownListFor(model => model.Estado, listItems, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Estado)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");

}

